<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>我的第一個網頁</title>
</head>

<body>
    <h1>輸入贊助者資料</h1>
    <form action="/insert/pro">
        贊助者姓名<input type="text" name="proname" />
        手機號碼<input type="text" name="phone" />
        <br>
        資本額<input type="text" name="money" />
        產業屬性<input type="text" name="arr" />
        <br>
        聯絡地址<input type="text" name="site" />
        電子信箱<input type="text" name="mail" />
        <br>
        <button>添加</button>
    </form>
    <br>
</body>

</html>