<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
    
</head>

<body>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Datas</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    {% for i in labels %}
                                    <td>{{ i }}</td>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in content %}
                                <tr>
                                    {% for j in i %}
                                    <td>{{ j }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href="/all_prouser">查看所有提案人</a>
            <form action="/prouser">
                尋找提案人<input type="text" name="prouser" />
                <button>尋找</button>
            </form>
            <a href="/all_spouser">查看所有贊助人</a>
            <form action="/spouser">
                尋找贊助人<input type="text" name="spouser" />
                <button>尋找</button>
            </form>
            <a href="/all_pro">查看所有新提案</a>
            <form action="/pro">
                尋找新提案<input type="text" name="pro" />
                <button>尋找</button>
            </form>
            <a href="/all_order">已完成訂單</a>
            <a href="/add_order">添加訂單</a>
            <br>
            <a href="/search">自定義搜尋</a>
            <br>
            <a href="/insert">使用者建立</a>

            <a href="/">點我回首頁</a>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>